body h1 {
  text-align: center;
}
body .pentagrama .linha {
  position: relative;
  border-bottom: solid 1px black;
  display: block;
  height: 60px;
}
body .pentagrama .linha span {
  position: absolute;
  bottom: 0;
  padding-left: 5px;
}
body #botoes {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 5px;
}
body #botoes .btn {
  width: 100%;
  margin: 0px;
  padding: 0px 0px;
  font-size: 30px;
  font-weight: bold;
  line-height: 80px;
}
