@tamanho-nota: 60px;

body{
    // font-family: 'Courier New', Courier, monospace;

    h1{
        text-align: center;
    }

    .pentagrama{
        // outline: solid 1px green;
        
        .linha{
            position: relative;
            border-bottom: solid 1px black;
            display: block;
            height: @tamanho-nota;
            text-align: right;
            padding-right: 25px;
            
            span{
                position: absolute;
                bottom: 0;
                padding-left: 5px;
            }
        }
    }

    .clave{
        @size: 480px;    
        position: absolute;
        font-size: @size;
        top: -35px;
        left: 20px;
        line-height: @size;
        color: rgb(118, 118, 118);
    }

    .nota{
        background-color: black;
        width: @tamanho-nota;
        height: @tamanho-nota;
        display: inline-block;
        position: absolute;
        
        top: -999999px;
        left: 70%;
        
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        border-radius: 50%;
        
        @media only screen and (min-width : 500px) {
            left: 50%;
        }

        @base: 325px;

        &.do3{
            top: @base - (@tamanho-nota/2) * -2;
        }
        &.re3{
            top: @base - (@tamanho-nota/2) * -1;
        }
        &.mi3{
            top: @base - (@tamanho-nota/2) * 0;
        }
        &.fa3{
            top: @base - (@tamanho-nota/2) * 1;
        }
        &.sol3{
            top: @base - (@tamanho-nota/2) * 2;
        }
        &.la3{
            top: @base - (@tamanho-nota/2) * 3;
        }
        &.si3{
            top: @base - (@tamanho-nota/2) * 4;
        }

        // oitava 4

        &.do4{
            top: @base - (@tamanho-nota/2) * 5;
        }
        &.re4{
            top: @base - (@tamanho-nota/2) * 6;
        }
        &.mi4{
            top: @base - (@tamanho-nota/2) * 7;
        }
        &.fa4{
            top: @base - (@tamanho-nota/2) * 8;
        }
        &.sol4{
            top: @base - (@tamanho-nota/2) * 9;
        }
        &.la4{
            top: @base - (@tamanho-nota/2) * 10;
        }
        &.si4{
            top: @base - (@tamanho-nota/2) * 11;
        }
    }

    #resultado{
        position: absolute;
        bottom: 10px + 80px;
        width: 100%; 

        .alert{
            width: 100%; 
            font-size: 60px;
            text-align: center;
        }
    }

    #botoes{
        // outline: solid 1px red;
        position: absolute;
        
                
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        bottom: 10px; 

        .btn{
            width: 100%;
            margin: 0px;
            padding: 0px 0px;
            font-size: 30px;
            font-weight: bold;
            line-height: 80px;
            // outline: solid 1px red;
        }
    }

}